table {
    table-layout: fixed ;
    width: 100% ;
  }
  td {
    width: 25% ;
  }

  abc{
    float: left;
    font-family: sans-serif;
  }

  img {
    place-items: left;
    float: right;
    width: 45px;
    height: 45px
  }

  h2{
    font-family: 'Brush Script MT', cursive;
  }

